.text_color {
  color: white;
}

.title_card {
  font-weight: bolder;
  font-size: 30px;
}

.GFG { 
  width:100px;
  height:50px;
  border:none;
  color:white;
} 

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 0px 0px 30px 30px;
}

.card button:hover {
  opacity: 0.7;
}

.card {
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: rgb(10, 10, 10);
  box-shadow: 0 1px 20px 0 rgb(145, 143, 143);
  transition: 0.3s;
  border-radius: 30px;
}

.card:hover {
  box-shadow: 0 10px 35px 0 rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
  transform: scale(1.02);
}

.logos {
  margin-top: 5%;
  justify-content: space-between;
  position: center;
}

.edition {
  text-align: center;
}

.title2 {
  text-align: center;
  top: 60px;
  font-size: 50px;
  color: #ffffffff;
  font-family: Helvetica;
  font-weight: bolder;
}

.title {
  text-align: center;
  font-size: 90px;
  font-weight: bolder;
  color: #ffffffff;
  font-family: Helvetica;
}

.description {
  margin-top: 10%;
  top: 190px;
  position: absolute;
  left: 31px;
  font-size: 40px;
  color: #ffffffff;
  font-family: Helvetica;
}

.presentation {
  margin-top: 10%;
  font-size: 40px;
}

.description_body {
  margin-top: 5%;
  font-size: 25px;
}

.center {
  border: 3px solid white;
  padding: 15px;
  font-size: 22px;
  font-family: Helvetica;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: #ffffffff;
  background: black;
}

.button-container {
  position: center;
}

.button {
  margin: 0px 70px 25px 70px;
  border-radius: 30px;
  border: 2px solid transparent;
  padding: 3em 3em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  position: static;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.display_adaptative {
  display: grid;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: Helvetica;
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  padding: 5px;
}
